 <% local_admin = t :admin %>

<h2 id = "admin_title"> <%= local_admin[:title] %> </h2>
<header class = "admin_link_container">
	<% tabs = [[local_admin[:user_management],'/admin/user_management'],[local_admin[:post_management],'/admin/post_management'],[local_admin[:create_post],'/posts/new']] %>
	<% x = 0; %>
	<% while(x < tabs.length) %>
		<div class = "admin_link_wrapper">
			<%= content_tag :a, tabs[x][0], :href => tabs[x][1], :class => "admin_index_links"%>
		</div>
		<% x = x + 1 %>
	<% end %>
</header>