<% if(session[:user_id] === nil) %>
   <script> window.location.href = "/login" </script>
<%end%>
<%= if(@currentUser.avatar_file_name == nil) puts "hi" end %>
<div class = "dashboardWrapper">
	<div class = "imageHolder">
		
	</div>
	<div class = "userInformation">
	
	</div>
</div>