
<% if(flash[:errors] != nil)%>
	<% flash[:errors].each do |t| %>
  <div class = "alert alert-danger" style ="margin: 2vh 0.5vw;">Imporantant: <%= t[:t] %> <%= t[:msg] %></div>

	<%end%>
<% end %>

<div class = "wrapper wrapper2">
		<div class = "post_form">
			<form action = '/createPost' method="POST" enctype="multipart/form-data">
				<h1 style = "width:100%; margin:auto; text-align: center;">New Post</h1><hr>

				<div class = "grid_wrapper">

				<div class = "form_information">
				<input type = "hidden" value = "<%= form_authenticity_token %>" name = "authenticity_token">
				<div class = "group">
					<label>Article Title</label>
					<input type="name" class="form-control"  name = "post[title]" placeholder="Enter Title">
				</div>
				<div class = "group">
					<label>Article Description</label>
					<textarea class="form-control" name = "post[description]" rows="3"></textarea>
				</div>
				<div class = "group">
					<label>Article Text</label>
					<textarea class="form-control" name = "post[text]" rows="3"></textarea>
				</div>

			</div>
			<div class = "form_image group">
				<input type="file" name="post[banner]">
				<div class = "group" style = "padding-top: 2vh;">
					<h1> Options </h1>
				</div>
				<div class = "optionsContainer">
					<div class = "group" style = "margin-top: 3vh;">
						<label>Breaking News?</label>
						<input type="checkbox" name = "post[important]">
					</div>
					<div class = "group">
						<label>Enable Comments</label>
						<input type = "checkbox" name = "post[comment]">
					</div>
				</div>
			</div>
				</div>
				<div class = " submit">
					<input type = "submit" class = "btn btn-danger" value = "Submit">
				</div>
			</form>
		</div>
	

</div>