// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.wrapper_breaking{
	background-color:red;
	max-width:100vw;
	max-height:10vh;
}
.img {
	
	width:100vw !important;
	height:10vh !important ;
	margin-top:10vh;
}